/* Font */
@font-face {
    font-family: 'webfont';
    src: url('//at.alicdn.com/t/webfont_jggn6sbuvfo.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_jggn6sbuvfo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_jggn6sbuvfo.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_jggn6sbuvfo.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_jggn6sbuvfo.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
  }
/* Common Css */
html, body, #app {
    height: 100%;
    font-family: 'webfont';
}
* {
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}

/* Flex Layout */
.flex-box {
    display: flex;
}
.flex-inline {
    display: inline-block;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-item {
    flex: 1;
}
.flex-center {
    align-items: center;
    justify-content: center;
}

/* Business Css */
.layout-content {
    height: 100%;
    .layout-side-menu {
        // 侧边展开的过渡
        transition: 0.2s;
        height: 100%;
        background: #222;
        .favicon {
            padding: 25px 0;
            background: #222;
            border-bottom: 2px solid #555;
            .img {
                overflow: hidden;
                margin: 10px 0;
                border-radius: 3px;
                border: 2px solid #ccc;
                // 头像旋转的过渡
                transition: 0.5s;
                img {
                    width: 100%;
                }
            }
            .img:hover {
                transform: rotate(360deg);
            }
            .name {
                font-size: 16px;
                color: #fff;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                a {
                    height: 46px;
                    text-decoration: none;
                    font-size: 18px;
                    color: #fff;
                    padding: 0 10px;
                    // hover过渡
                    transition: 0.5s;
                    .icon {
                        // icon缩放过渡
                        transition: 0.5s;
                    }
                    .arrow {
                        display: none;
                    }
                    span {
                        margin-left: 5px;
                    }
                }
                a.router-link-exact-active {
                    color: #fff;
                    background: #444;
                    .arrow {
                        display: block;
                    }
                }
                a:hover {
                    background: #333;
                }

            }
        }
        .bottom-btn {
            background: #222;
            border-top: 2px solid #555;
            a {
                height: 46px;
                text-decoration: none;
                font-size: 16px;
                color: #fff;
                // hover过渡
                transition: 0.5s;
                cursor: pointer;
                span {
                    margin-left: 5px;
                }
                i {
                    font-size: 18px;
                }
            }
            a:hover {
                background: #333;
            }
            a.toggle:hover {
                color: #2196F3;
                i {
                    font-weight: bold;
                }
            }
            a.exit:hover {
                color: #FF5722;
                i {
                    font-weight: bold;
                }
            }
        }
    }
    .layout-main {
        position: relative;
        overflow: hidden;
        .layout-header {
            background: #2196F3;
            padding: 0 20px;
            height: 60px;
            .toggle-side {
                cursor: pointer;
                width: 40px;
                height: 40px;
                font-size: 30px;
                color: #ccc;
                margin: 10px;
            }
            .logo {
                width: 160px;
                font-size: 20px;
                font-weight: bold;
                color: #fff;
            }
            .el-menu {
                background: transparent;
                border-bottom: none;
                padding: 0 20px;
                .el-menu-item,
                .el-submenu {
                    height: 32px;
                    line-height: 32px;
                    color: #fff;
                    border-bottom: none;
                    margin: 14px auto;
                    padding: 0;
                    a {
                        display: block;
                        height: 32px;
                        line-height: 32px;
                        padding: 0 20px;
                        text-decoration: none;
                    }
                    .el-submenu__title {
                        height: 32px;
                        line-height: 32px;
                        color: #fff;
                        border-bottom: none;
                        .el-submenu__icon-arrow {
                            color: #fff;
                        }
                    }
                }
                .el-menu-item.is-active,
                .el-submenu.is-active {
                    border-bottom: none;
                    background: #2189dc;
                    border-radius: 4px;
                }
                .el-menu-item:not(.is-disabled):focus {
                    background: #2189dc;
                }
                .el-menu-item:not(.is-disabled):hover,
                .el-submenu__title:not(.is-disabled):hover {
                    background: #2189dc
                }
            }
            .setting {
                .el-dropdown-link {
                    cursor: pointer;
                    font-size: 14px;
                    color: #fff;
                }
            }
        }
        .layout-view {
            overflow: hidden;
            background: #ededed;
            .layout-view-main {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 20px;
            }
        }
    }
}

.header-menu-popup {
    .el-menu--popup {
        min-width: 120px;
        .el-menu-item {
            height: 32px;
            line-height: 32px;
            padding: 0;
            a {
                display: block;
                height: 32px;
                line-height: 32px;
                padding: 0 20px;
                color: #333;
                text-decoration: none;
            }
        }
        .el-menu-item.is-active,
        .el-menu-item:hover {
            background: #ecf5ff;
        }
    }
}
